.projectSection {
    background-color: var(--dark);
}

.projectSection h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 5rem;
}

.projectDiv {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    margin: 0rem 10rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
    align-items: center;
    justify-items: center;

}

.first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.second {
    grid-column: 3 /  4;
    grid-row: 2 / 3;
}

.third {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/* CARDS */
.projectCard {
    width: 344px;
    border-radius: 16px;
    position: relative;
    padding: 0.25rem;
    border: 2px var(--text) solid;
}

.projectCard img {
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.5s;
    border-radius: 16px;
}

.projectCard .overlay {
    position: absolute;
    padding: 24px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}

.projectCard .overlay button {
    color: var(--text);
    background: red;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
}

.projectCard:hover img {
    opacity: 0.32;
}

.projectCard:hover .overlay {
    opacity: 1;
}
/* CARDS */

/* DETAILS */

.projectDetail {
    grid-column: span 2;
    align-self: start;
    padding-top: 0.5rem;
}

.right {
    justify-self: start;
}

.projectDetail h1 {
    font-size: 4rem;
}

.projectDetail h3 {
    font-size: 2rem;;
}


/* DETAILS */

@media (max-width: 1024px) {
    .projectDiv {
        margin: 1rem
    }
    .projectDetail {
        padding-top: 0.5rem;
    }
    .projectDetail h1 {
        font-size: 3rem;
    }
    .projectDetail h3 {
        font-size: 1.5rem;;
    }
}
@media (max-width: 425px) {
    .projectDiv {
        display: block;
    }
    .projectSection h1 {
        font-size: 3.5rem;
    }
    .projectCard {
        width: 268px;
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;;
        margin-top: 2rem;
    }
    .projectDetail {
        display: block;
        text-align: center;
        padding-top: 0rem;
        overflow-y: hidden;
    }
    .projectDetail h1 {
        padding-top: 0.5rem;
        font-size: 2rem;
    }
    .projectDetail h3 {
        padding-top: 1rem;
        font-size: 1rem;;
    }
}
@media (max-width: 320px ) {
    .projectCard {
        width: 220px;
        border-radius: 12px;
    }

}