@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: #F4EEE0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR SECTION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 1.25em;
  background-color: #6D5D6E;
  z-index: 1;
  overflow-y: hidden;

  position: fixed;
  width: 100%;
  height: 10%;
}

.nameLogo  {
  padding: 0.5em 1em;
  font-family: "Fasthand";
}

a {
  text-decoration: none;
}

.nameLogo:hover {
  cursor: pointer;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 2em;
}

.items li {
  list-style: none;
  margin: 0 0.5em;
}

.items li a {
  display: block;
  padding: 0.5em 1.25em;
}


.navBtn {
  --c: #F4EEE0; /* the border color */
  --b: 5px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
}

.navBtn:hover {
--_i: 100%;
transition: .3s, background-size .3s .3s;
}

/* NAVBAR SECTION */

/* HERO SECTION */
.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10em 10em 3em 10em;
  background-color: #393646;
}

.hero div {
  flex: 1;
  gap: 1em;
}

.hero img {
  width: 25rem; 
  padding: 1rem;
  margin: 0 5rem 0 10rem;
  border: 5px #F4EEE0 solid;
  border-radius: 15%;
  flex-shrink: 1;

  transition: 1s;
  animation: topDown 2s forwards ease;
}

.hero img:hover {
  scale: 1.05;
}

.heroText h1 {
  margin-top: 10rem;
  font-size: 5em;

  translate: 100%;
  animation: rightLeft 2s forwards ease-out;
}


.heroText p {
  margin-top: 1em;
  font-size: 1.5em;

  translate: 100%;
  animation: rightLeft 2s forwards ease-out 0.5s;
}

@keyframes topDown {
  0%    {translate: 0 100%}
  100%  {translate: 0 0}
}

@keyframes rightLeft {
  100%  {translate: 0px};
}
/* HERO SECTION */


/* ABOUT SECTION */
.aboutSection {
  background-color: #4F4557;
  display: flex;
  padding: 10rem;
  flex-flow: row wrap;
  gap: 2rem;
}

.aboutSection .aboutMe {
  flex: 1 1 20rem
}

.aboutSection .aboutMe h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.aboutSection .aboutMe p{
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.aboutSection .aboutAnimation {
  flex: 1 1 30rem;
  width: 40rem;
  height: auto;
}



/* ABOUT SECTION */

/* FADE IN */
.fade-in {
  opacity: 0;
  transition: 2s ease-out;
}

.active {
  opacity: 4;
}
/* FADE IN */
.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('../assets/layer1.svg');
}

.layer2 {
  background-image: url("../assets/layer2.svg");
}
