#laptopline1,  
#laptopline4, 
#laptopline5 {
    animation: laptopline 10s linear infinite;
}

#laptopline2, 
#laptopline3 {
    animation: laptopline 7s ease infinite;
}

#laptopline6,
#laptopline6 {
    animation: laptopline 5s ease-out infinite;
}

#head {
    animation: headBob 5s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#hand {
    animation: handMove 5s ease infinite;
}

@keyframes laptopline {
    0%,100% {
        translate: -2%;
    }
    50% {
        translate: 2%;
    }
}

@keyframes headBob {
    0%,100% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
}

@keyframes handMove {
    0%,100%{
        translate: -2% 1%;
    }

    30% {
        translate: 0% -1%;
    }
    50% {
        translate: 2% 1%;
    }

    80% {
        translate: 1% -2%;
    }
}